<table border="1">
    <thead>
    <tr>
        <th>Libellé</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    {{#articles}}
        <tr>
            <td>{{libelle}}</td>
            <td>{{prix}}</td>
        </tr>
    {{/articles}}
    </tbody>
</table>